.rev-col-trend-container {
  width: 100%;
  padding: 1rem 0.5rem;
  //   margin: 1rem 0rem;

  text-align: start;
  h2 {
    color: #616161;
    font-size: 12px;
  }
  p {
    color: #a3a3a3;
    font-size: 12px;
  }
  .chart {
    height: 300px;
  }
}

.payment-meth-container {
  width: 100%;
  padding: 1rem 0.5rem;
  //   margin: 1rem 0rem;

  text-align: start;
  h2 {
    color: #616161;
    font-size: 12px;
  }
  p {
    color: #a3a3a3;
    font-size: 12px;
  }
}
