.search {
  position: relative; /* parent must be relative for absolute children */
  display: flex;
  align-items: center;
//   width: 60%;

      .icon{
        position: absolute;
        left: 0.5rem;
       
    }

  input{
    width: 100%;
    padding: 0.5rem 0.75rem 0.5rem 2.2rem;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 6px;
  }
}
