.container{
  width: 100%;

  .charts{
    display: flex;
    align-items: stretch;
    gap: 3rem;

    .rev-col-container{
        width: 48%;
    }
    .payment-meth-container{
        width: 48%;
    }
  }
}

