.container {
  width: 100%;
  min-width: 60rem;
  height: 100vh;
  display: flex;
  align-items: flex-start;

  .left-hand-container {
    width: 15%;
    border-right: 1px red solid;
    height: 80%;
  }
  .right-hand-container {
    width: 85%;
    height: 100%;
    // display: flex;
    // flex-direction: column;
   
  }
}
