.container {
  width: 100%;
  h2 {
    font-size: 16px;
    color: #636363;
    font-weight: bold;
    // text-align: start;
  }
  .cards {
    display: flex;
    // flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem 0rem;
    align-items: stretch; //📒📒 to make all dem cards equal height📒📒 

    .card {
      padding: 1rem;
      width: 13rem;
      // flex: 0 0 13.3rem; //📒📒 {same as:  width: 13.3rem;,but safer in flex context}📒📒
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        // color: rgb(123, 122, 122);
        // color: #afb7c3;
        color: #636363;
        font-size: 12px;
      }

      .mid-section {
        display: flex;
        align-items: center;
        gap: 3rem;
        justify-content: space-between;

        .sum {
          font-weight: bold;
          font-size: 18px;
          padding: 0.25rem;
          color: #4d4d4d;
        }
      }
      .lower-section {
        display: flex;
        align-items: center;
        p {
          font-size: 10px;
          span {
            color: #c0c6cf;
          }
        }
      }
    }
  }
}

// its not about the container being in flex.
// .card is this:
// <div className={classes.cards}>
//         {FinancialSummaryData.map((data) => (
//           <Card className={classes["card-container"]}>
//             <h2>{data.heading}</h2>
//             <div className={classes["mid-section"]}>
//               <p>{data.sum}</p>
//               <p>{data.icon}</p>
//             </div>
//             <p>{data.yesterday}</p>
//           </Card>
//         ))}
//       </div>
// this  <h2>Welcome Back,Admin</h2> is not inside the .card. so why is this scss affecting it:
//  .cards {
//     display: flex;
//     // align-items: center;
//     gap: 1rem;
//     padding: 1rem;
// if i comment that code: .cards {
//     display: flex;
//     // align-items: center;
//     gap: 1rem;
//     padding: 1rem;
// it stays put at the start and doesnt move to the center horizontally
