.card {
  background-color: white;
  border-radius: 6px;
  // box-shadow: 5px 5px 5px 5px rgba(0, 9, 0, 0.3);
  box-shadow: 5px 5px 5px 5px rgba(0, 1, 0, 0.1);
  //   background-color: var(--card-color);
  color: var(--text-color);
}
