.container {
  width: 100%;
  min-width: 60rem;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  // height: 100vh;
  // align-items: flex-start;

  .left-hand-container {
    width: 20%;
  }
  .right-hand-container {
    width: 80%;
    padding-bottom: 3rem;
    margin: 0rem 1rem;
    // display: flex;
    // flex-direction: column;
    // height: 100%;
  }
}
